.summerImg{
    border-left:2px solid black;
    border-right:2px solid black;
}
.fallImg{
    border-left:2px solid black;
    border-right:2px solid black;
}
.winterImg{
    border-left:2px solid black;
    border-right:2px solid black;
}
.springImg{
    border-left:2px solid black;
    border-right:2px solid black;
}